@inject IUserService userService
@implements IDisposable

@page "/"

<div class="section center">
    <div class="row">
        <div class="col s12">
            <h3 class="header">Put an end to Harassment</h3>
            <p>
                Hi @userService.CurrentUserTwitchUsername! Nice to see you here. <br />
                It's time we take a stand and do something to make our shared space a better place, and this is the beginning of a suite of tools to help accomplish that!
                <br /> I hope you will enjoy using this, and you're always welcome to ask questions, give suggestions, or inform us of wishes!
                <br /> Development's current status can be found by clicking the button below!
            </p>
            <p class="red-text">Warning: Bright</p>
            <p>
                <a target="_blank" href="https://github.com/tranquiliza/AntiHarrassment/projects/1" class="btn waves-effect waves-light">See Development Plans</a>
            </p>
            <h5> Thank you once again, for taking a stand against harassment. You're making the world a better place to be!</h5>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        userService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}