@inject IUserService userService
@inject IUserChannelService channelService
@implements IDisposable

@page "/"

<PageTitle Title="Anti Harassment System" />

<div class="section center">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Put an end to Harassment</span>
                    <p>
                        Hi @userService.CurrentUserTwitchUsername! Nice to see you here. <br />
                        It's time we take a stand and do something to make our shared space a better place, and this is the beginning of a suite of tools to help accomplish that!
                        <br /> I hope you will enjoy using this, and you're always welcome to ask questions, give suggestions, or inform us of wishes!
                        <br /> Development's current status can be found by clicking the button below!
                    </p>
                </div>
                <div class="card-action">
                    <a target="_blank" href="https://github.com/tranquiliza/AntiHarrassment/projects/1">See Development Plans</a>
                </div>
            </div>

        </div>
    </div>

    <h5> Thank you once again, for taking a stand against harassment. You're making the world a better place to be!</h5>

    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Beauty and Body Art Initiative</span>
                    Please take a moment to check out the Beauty and Body Art Initiative and help support the community!
                </div>
                <div class="card-action">

                    <a target="_blank" href="https://spark.adobe.com/page/bnrHVgzt4iBd9/">Media Kit</a>
                    <a target="_blank" href="https://twitch.uservoice.com/forums/923377-community-guidelines/suggestions/41315089-beauty-body-art-community-concerns">Petition</a>
                </div>
            </div>
        </div>
    </div>

    @if (channelService.Channel == null)
    {
        <div class="row">
            <div class="col s12">
                <p>Hi! Are you also a streamer? Would like to have this system enabled for your channel?</p>
                <button @onclick="async _ => await channelService.UpdateChannelState(true)" class="btn">ENABLE SYSTEM</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>
                    If you have any questions regarding this system, you can find help at Prometheus Discord: <a target="_blank" href="https://discord.gg/Cb7PQRj">Prometheus Invite</a><br />
                    Feel free to poke Tranquiliza or ChromaCarina, they can get you started!

                    There are also videos which can be found in the <a href="tutorialVideos">Tutorial Videos section</a> on this website!
                </p>
            </div>
        </div>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        channelService.OnChange += StateHasChanged;
        userService.OnChange += StateHasChanged;

        await channelService.Initialize();
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
        channelService.OnChange -= StateHasChanged;
    }
}