@page "/resources"

<div class="row">
    <div class="col s12">
        <h5>Mental Health Awareness</h5>
        <p>
            Research studies have shown that one in two people will be diagnosed with a mental health condition during their lifetime. Yet, so many people feel alone in their struggles and there is still a stigma around talking about mental health issues. We are trying to do our small part in making a positive change surrounding mental health. We want you to know that you are NOT alone.
        </p>
        <p>
            We have compiled a small list of resources you can turn to if you need help with your own mental health struggles, if a friend needs help, or if you are looking for tips on how to help a friend.
        </p>
        <p class="red-text">
            DISCLAIMER: We are not healthcare professionals and the intent of this section is not to give medical advice or diagnoses.  PLEASE DO NOT attempt to diagnose or treat anyone.
        </p>
        <p>
            Take This is a non-profit organization that aims to decrease the stigma, and increase the support for, mental health in the game enthusiast community and inside the game industry. This includes streamers and creators, not just gamers. They have tons of resources organized into categories that make it easy to find something you might need. Such as crisis hotlines, therapist directories, online therapy options, self-care tools, wellness mobile apps, and more.  Their resources come from all over the globe, so no matter where you are, there are options for you.
            <a href="https://www.takethis.org/mental-health-resources/">Take This: Mental Health Resources</a>
        </p>
        <p>
            Twitch has resources and guidance for how to help fellow users and friends with particular mental health struggles and their resources are grouped accordingly. For example, you can find resources to help someone with self-harm or thoughts of suicide, eating disorders, addictions, and other issues.
            <a href="https://help.twitch.tv/s/article/twitch-cares-mental-health-support-information">Twitch Mental Health Resources</a>
        </p>
        <p>
            The Trevor Project is available to LGBTQIA+ Youth in The United States and Canada who may be struggling with mental health issues. They do also have some resources on how to be an ally to those in the LGBTQIA+ community if you are looking for education materials to help a friend.
            <a href="https://www.thetrevorproject.org/resources/">Trevor Project Resources</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h5>Additional Resources</h5>
        <ul>
            <li>
                <a target="_blank" href="https://www.twitch.tv/p/legal/terms-of-service/">Twitch Terms of Service</a>
            </li>
            <li>
                <a target="_blank" href="https://www.twitch.tv/p/legal/community-guidelines/sexualcontent/?_branch_match_id=776131113519447064&utm_source=Blog&utm_campaign=Nudity_Attire_Policy_Update_2020&utm_medium=MKT_Nudity_Attire_Policy_Blog_Sexually%20Suggestive_Policy#sexually-suggestive-content">
                    Community Guide Lines: Sexual Content
                </a>
            </li>
            <li>
                <a target="_blank" href="https://help.twitch.tv/s/topic/0TO1U000000CjnZWAS/moderation-safety">Moderation Safety</a>
            </li>
            <li>
                <a target="_blank" href="https://help.twitch.tv/s/article/how-to-manage-harassment-in-chat">Harassment Management</a>
            </li>
            <li>
                <a target="_blank" href="https://help.twitch.tv/s/article/chat-commands#AllMods">Chat Commands for Mods</a>
            </li>
            <li>
                <a target="_blank" href="https://www.twitch.tv/creatorcamp/en/">Creator Camp</a>
            </li>
        </ul>

    </div>
</div>

@code {

}
