@page "/resources"

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/p/legal/terms-of-service/">Twitch Terms of Service</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/p/legal/community-guidelines/sexualcontent/?_branch_match_id=776131113519447064&utm_source=Blog&utm_campaign=Nudity_Attire_Policy_Update_2020&utm_medium=MKT_Nudity_Attire_Policy_Blog_Sexually%20Suggestive_Policy#sexually-suggestive-content">
                        Community Guide Lines: Sexual Content
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/topic/0TO1U000000CjnZWAS/moderation-safety">Moderation Safety</a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/article/twitch-cares-mental-health-support-information">Mental Health</a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/article/how-to-manage-harassment-in-chat">Harassment Management</a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/article/chat-commands#AllMods">Chat Commands for Mods</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/creatorcamp/en/">Creator Camp</a>
                </li>
            </ul>

        </div>
    </div>
</div>

@code {

}
