@inject IUserChannelService channelService
@inject IAdminChannelService adminChannelService
@inject IUserService userService
@implements IDisposable

@if (channelService.Channel == null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p>Hi! Are you also a streamer? Would like to have this system enabled for your channel?</p>
                <button @onclick="async _ => await UpdateChannelState(true)" class="btn btn-danger">ENABLE SYSTEM</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    If you have any questions regarding this system, you can find help at Prometheus Discord: <a target="_blank" href="https://discord.gg/Cb7PQRj">Prometheus Invite</a>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                @if (userService.IsUserAdmin)
                {
                    @if (adminChannelService.Channels != null)
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="channelSelectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @(string.IsNullOrEmpty(channelService.Channel.ChannelName) ? "Channels" : channelService.Channel.ChannelName)
                            </button>
                            <div class="dropdown-menu" aria-labelledby="channelSelectMenu">
                                @foreach (var channel in adminChannelService.Channels.OrderBy(x => x.ChannelName))
                                {
                                    <button @onclick="async () => await channelService.ChangeChannel(channel.ChannelName)" class="dropdown-item" type="button">@channel.ChannelName</button>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>
                        ChannelName: @channelService.Channel.ChannelName
                    </p>
                }
            </div>
            <div class="col-6">
                <p>
                    @if (channelService.Channel.ShouldListen)
                    {
                        <button @onclick="async _ => await UpdateChannelState(false)" class="btn btn-danger">SYSTEM ACTIVE</button>
                    }
                    else
                    {
                        <button @onclick="async _ => await UpdateChannelState(true)" class="btn btn-success">SYSTEM DISABLED</button>
                    }
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card bg-dark">
                    <div class="card-body bg-dark">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-header">Download Chatlogs</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="earliestTime">From</label>
                                <input class="form-control" @bind-value="earliestTime" id="earliestTime" type="datetime-local" />
                            </div>
                            <div class="col-3">
                                <label for="latestTime">To</label>
                                <input class="form-control" @bind-value="latestTime" id="latestTime" type="datetime-local" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" @onclick="async _ => await DownloadLog(true)">Download csv</button>
                                    <button class="btn btn-secondary btn-sm" @onclick="async _ => await DownloadLog(false)">Download json</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Moderator Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var moderator in channelService.Channel.Moderators)
                        {
                            <tr>
                                <td>@moderator</td>
                                <td>
                                    <button @onclick="async () => await RemoveModerator(moderator)" class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td><input class="form-control" type="text" @bind-value="newModeratorName" /></td>
                            <td><button @onclick="async () => await AddModerator()" class="btn btn-dark">Add</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@page "/settings"

@code {
    private DateTime earliestTime = DateTime.Now.AddDays(-1);
    private DateTime latestTime = DateTime.Now;

    private async Task DownloadLog(bool downloadPlain)
    {
        if (earliestTime == default || latestTime == default)
        {
            return;
        }

        await channelService.DownloadChatLog(earliestTime, latestTime, downloadPlain);
    }

    private string newModeratorName = "";

    private string buttonDisable = "";

    protected async override Task OnInitializedAsync()
    {
        channelService.OnChange += StateHasChanged;
        adminChannelService.OnChange += StateHasChanged;
        userService.OnChange += StateHasChanged;

        await channelService.Initialize();
        await adminChannelService.Initialize();
    }

    private async Task AddModerator()
    {
        await channelService.AddModerator(newModeratorName);
        newModeratorName = "";
    }

    private async Task RemoveModerator(string moderatorName)
    {
        await channelService.RemoveModerator(moderatorName);
    }

    private async Task UpdateChannelState(bool shouldListen)
    {
        await channelService.UpdateChannelState(shouldListen);
    }

    public void Dispose()
    {
        channelService.OnChange -= StateHasChanged;
        adminChannelService.OnChange -= StateHasChanged;
        userService.OnChange -= StateHasChanged;
    }
}
