@page "/support"

    <PageTitle Title="AHS: Support" />

    <div class="row">
        <div class="col s12">
            <p>
                Never hesitate to ask if you need more help than what is provided on this website!<br />
                Chances are that you have a great question that havn't been asked before, because the system is so new!<br />
            </p>

            <p>
                Best way to get support, is to join the Prometheus Discord via the <a target="_blank" href="https://discord.gg/Cb7PQRj">Invite Link</a><br />
                On there you will find a Anti Harassment System section, with a support channel! You can ask all you want in there. <br />
                Do you have a question that is rather critical in nature, you're also always welcome to DM Tranquiliza directly. You can find him on Prometheus too!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h5>Additional Resources</h5>
            <ul>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/p/legal/terms-of-service/">Twitch Terms of Service</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/p/legal/community-guidelines/sexualcontent/?_branch_match_id=776131113519447064&utm_source=Blog&utm_campaign=Nudity_Attire_Policy_Update_2020&utm_medium=MKT_Nudity_Attire_Policy_Blog_Sexually%20Suggestive_Policy#sexually-suggestive-content">
                        Community Guide Lines: Sexual Content
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/topic/0TO1U000000CjnZWAS/moderation-safety">Moderation Safety</a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/article/how-to-manage-harassment-in-chat">Harassment Management</a>
                </li>
                <li>
                    <a target="_blank" href="https://help.twitch.tv/s/article/chat-commands#AllMods">Chat Commands for Mods</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.twitch.tv/creatorcamp/en/">Creator Camp</a>
                </li>
            </ul>

        </div>
    </div>
