@inherits LayoutComponentBase
@inject IUserService userService
@implements IDisposable

@if (userService.IsUserLoggedIn)
{
    <NavMenu />

    <div class="container">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>

    <SideMenu />
}
else
{
    <div class="section no-pad-bot">
        <div class="container">
            <br />
            <div class="row">
                <div class="center">
                    <img class="center-align" width="350" height="350" src="/AntiHarassmentLogo.png" />
                </div>
            </div>
            <h2 class="header center blue-text">ANTI HARASSMENT SYSTEM</h2>
            <div class="row">
                <LoginComponent></LoginComponent>
            </div>
        </div>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        userService.OnChange += StateHasChanged;
        await userService.Initialize();
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}