@inject IUserService userService
@implements IDisposable


<nav>
    <div class="nav-wrapper">
        <a style="margin-left:32px;" class="brand-logo">Anti Harassment System</a>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
            <li><a class="hand-pointer waves-effect waves-light">Version 1.8.3</a></li>
            <li><a @onclick="LogOut" class="hand-pointer waves-effect waves-light">Sign out<i class="material-icons right">exit_to_app</i></a></li>
        </ul>
    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        userService.OnChange += StateHasChanged;
    }

    private Task LogOut()
    {
        return userService.TryLogout();
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}
