@inject IUserService userService
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AntiHarassment.Frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @if (userService.IsUserLoggedIn)
        {
            <li class="nav-item px-3">
                <a @onclick="LogOut" class="nav-link">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-plus" aria-hidden="true"></span> Register
                </NavLink>
            </li>
        }

        @if (userService.IsUserAdmin)
        {
            <li class="nav-item px-3">
                ADMIN BUTTON
            </li>
        }

    </ul>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        userService.OnChange += StateHasChanged;
    }

    private async Task LogOut()
    {
        await userService.TryLogout();
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}
