@inject IUserService userService
@implements IDisposable


<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="ChannelSuspensions" Match="NavLinkMatch.All">Suspensions</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="userlookup" Match="NavLinkMatch.Prefix">User Lookup</NavLink>
            </li>
        </ul>

        @if (userService.IsUserLoggedIn)
        {
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
                <span>Broadcaster Menu</span>
            </h6>
            <ul class="nav nav-pills flex-column mb-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="channelstatistics" Match="NavLinkMatch.All">Statistics</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">Settings</NavLink>
                </li>
            </ul>
        }

        @if (userService.IsUserAdmin)
        {
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-white">
                <span>Admin Menu</span>
            </h6>
            <ul class="nav nav-pills flex-column mb-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/channels" Match="NavLinkMatch.All">Channels</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/tags" Match="NavLinkMatch.All">Tags</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin/statistics" Match="NavLinkMatch.All">System Statistics</NavLink>
                </li>
            </ul>
        }

    </div>
</nav>

@code {
    protected override void OnInitialized()
    {
        userService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}
